body {
	font-family: Arial, sans-serif;
	color:  #5f5f5f;
	letter-spacing: 2px;/*字符间距*/
}

a {/*给链接添加样式*/
	color: #8b00e0;
	font-weight: bold;
}

a:visited {/*给访问过的链接添加样式*/
	color: #42006a;
}

h1 {
	font-size: 90px;
	color: #ff9933;
	margin: 0;/*四个外边距都是0*/
	line-height: 1;/*行高*/
	padding: 0;/*四个内边距都是0*/
}

#logo {/*含有#的调用id*/
	float: right;/*把图像向右浮动*/
	margin: 12px 50px;/*顺序是上右下左*/
}

#top_container {
	margin: 20px 0 50px 50px;
}

#info_container{
	font-size: 22px;
}

.orange {/*含有.调用class*/
	color: #ff9933;
	font-weight: bold;
	font-size: 36px;
}

#marquee_container{
	border-top: 1px solid #5f5f5f;/*border-top 属性是一个复合属性,
	它为指示的对象边框设置宽度、样式和颜色值,这里是产生了一条黑线*/
	border-bottom: 1px solid #5f5f5f;
	padding: 30px 0 30px 0;
	text-align: center;
	font-size: 26px;
	line-height: 1.6;
}

#website_list_container {
	margin: 30px 0 20px 50px;
}

.day_lable {
	margin: 30px 0 20px 50px;
}

header {
	text-align: right;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

nav a {
	margin-left: 10px;
	font-weight: normal;
	color: #5f5f5f;
	text-decoration: none;
}

#about h3 {
	text-align: center;
	font-size: 34px;
	line-height: 54px;
	color: #ff9933;

#about #content {
	width: 80%;
	max-width: 750px;
	margin: auto;
}

#content a {
	text-decoration: none;/*文本修饰*/
	color: #1770C7;
}

#about #logo {
	float: none;
	display: block;/*使段落生出行内框*/
	text-align: center;
	margin: 70px auto;
}